@model IEnumerable<Master.Contract.OperatorWithProfilePic>
@using PickC.Internal2.HtmlHelpers
@{
    ViewBag.Title = "Operator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid");
}
<style>
    .modal-dialog {
        width: 80%;
        margin: 30px auto;
    }

    .popover {
        min-width: 500px;
    }
</style>
<section class="content">

    @*<div class="row">
        <div class="col-xs-12">
            @{ Html.RenderPartial("DashboardMenuList"); }
        </div>
        </div>*@
    <div class="row">
        <div class="col-xs-12">
            <div class="tab-main-content">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Operators List</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                @*<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">*@

                                <div class="input-group-btn">
                                    @*<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>&nbsp;&nbsp;*@
                                    <button type="button" class="btn btn-default pull-right" onclick="location.href = '@Url.Content("~/Operator/Add")'"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @grid.Table(
                            tableStyle: "table table-hover",
                            columns: grid.Columns(
                                grid.Column("ImagePath", "Profile Pic",
                                format:
                                @<text>
                                    <img src="@Url.Content("~/Attachments/" + item.ImagePath)" class="img-circle" style="width:50px;height:50px" />
                                </text>),
                                grid.Column("OperatorName", "Operator Name"),
                                grid.Column("OperatorID", "Operator ID"),
                                grid.Column("PhoneNo", "Mobile No"),
                                grid.Column("Edit", "#Edit", format:
                                @<text><a href="@Url.Content("~/Operator/Edit?OperatorID=" + item.OperatorID)"><i class="fa fa-pencil" aria-hidden="true"></i></a></text>),
                                grid.Column("View", "#View", format:
                                @<text><a class="hand" onclick="driverListView('@item.OperatorID')"><i class="fa fa-eye" aria-hidden="true"></i></a></text>)
                            ),
                            htmlAttributes: new { id = "grid" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="modal" id="DriverListModal">
    <div class="modal-dialog modal-md">
        <form id="frmDriverList" name="frmDriverList">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="disposeModel()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Operator Driver List</h4>
                </div>
                <div class="modal-body" id="DriverListModalContent">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Driver Name</th>
                                        <th>Driver License No</th>
                                        <th>Driver Mobile No</th>
                                        @*<th>View Info</th>*@
                                    </tr>
                                </thead>
                                <tbody id="trBodyDriver">
                                    @{
                                        var driverList = (List<Master.Contract.OperatorDriver>)ViewData["VD:DriverList"];
                                    }
                                    @if (driverList != null)
                                    {
                                        for (var i = 0; i < driverList.Count; i++)
                                        {
                                            <tr id="trRow_Driver_@i" class="trRowCss">

                                                <td>
                                                    @Html.HiddenFor(x => driverList[i].DriverID)
                                                    <span id="operatorDriverList_DriverName_span_@i">@driverList[i].DriverName</span>
                                                </td>
                                                <td>
                                                    <span id="operatorDriverList_DriverLicenseNo_span_@i">@driverList[i].LicenseNo</span>
                                                </td>
                                                <td>
                                                    <span id="operatorDriverList_DriverMobileNo_span_@i">@driverList[i].MobileNo</span>
                                                </td>
                                                <td>
                                                    <button type="button" data-toggle="popover" data-container="body" data-placement="left" data-html="true" data-driverid="@driverList[i].DriverID" id="login" class="btn btn-primary displaypopup">View Details</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
@using (Html.BeginForm("Operator", "Operator", FormMethod.Post, new { id = "frmDriverList2", name = "frmDriverList2" }))
{
    <input type="hidden" name="OperatorID" id="OperatorID" />
}
<div id="popover-content-login" class="hide">
</div>

@section secscripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script type="text/javascript">
        function driverListView(operatorID) {
            debugger;
            $('#OperatorID').val(operatorID);
            $('#frmDriverList2').submit();
        }
        $(function () {
            @if (driverList != null)
            {
            <text>
                $('#DriverListModal').modal('show');
            </text>
            }
        });

        function disposeModel()
        {
            $('.displaypopup').popover('hide');
            $('#DriverListModal').modal('hide');
        }

        $('.displaypopup').click(function () {
            $('.displaypopup').popover('hide');
            var e = $(this);
            $.ajax({
                url: '@Url.Content("~/Driver/Edit?driverID=")' + e.data('driverid'),
                method: 'get',
                contentType: 'application/json',
                success: function (data) {
                    $('#popover-content-login').empty();
                    if (data.driver != null) {
                        //var m = moment(data.driver.DateOfBirth);
                        $('#popover-content-login').append('<ul class="list-group" id="DriverContent">');
                        $('#popover-content-login').append('<li class="list-group-item"><b>Aadhar Card No: </b>' + data.driver.AadharCardNo + '</li>');
                        $('#popover-content-login').append('<li class="list-group-item"><b>PAN No: </b>' + data.driver.PANNo + '</li>');
                        $('#popover-content-login').append('<li class="list-group-item"><b>Father Name: </b>' + data.driver.FatherName + '</li>');
                        //$('#popover-content-login').append('<li class="list-group-item"><b>Date Of Birth: </b>' + moment.format(m,'MM/DD/YYYY') + '</li>');
                        $('#popover-content-login').append('<li class="list-group-item"><b>Place Of Birth: </b>' + data.driver.PlaceOfBirth + '</li>');
                        $('#popover-content-login').append('<li class="list-group-item"><b>Gender: </b>' + data.driver.GenderDescription + '</li>');
                        $('#popover-content-login').append('<li class="list-group-item"><b>Maritial Status: </b>' + data.driver.MaritialStatusDescription + '</li>');
                        $('#popover-content-login').append('<li class="list-group-item"><b>Phone No: </b>' + data.driver.PhoneNo + '</li>');
                        $('#popover-content-login').append('</ul');

                        e.popover({ content: $('#popover-content-login').html() }).popover('show');
                    }
                },
                error: function (err) {

                }
            });
        });
    </script>
}



