
@model PickC.Internal2.ViewModals.DriverVm
@{
    ViewBag.Title = "Edit";
    //Model.driver.DateofIssue = DateTime.Now;
    //Model.driver.DateofReturn = DateTime.Now;
}
@section seccss{
    <link href="@Url.Content("~/Css/bootstrap-datetimepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Css/file-upload.css")" rel="stylesheet" />
}
<section class="content-header">
    <h1>Driver Details</h1>
</section>
@using (Html.BeginForm("SaveDriver", "Driver", FormMethod.Post, new { id = "frmDriverAdd", name = "frmDriverAdd", enctype = "multipart/form-data" }))
{
    <section class="content">
        @*<div class="row">
                <div class="col-xs-12">
                    @{ Html.RenderPartial("DashboardMenuList"); }
                </div>
            </div>*@
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Operator Info</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Operator</label>
                                    @Html.TextBoxFor(x => x.driver.OperatorId, new { @class = "form-control", placeholder = "Operator ID", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Driver Info</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Driver ID</label>
                                    @Html.TextBoxFor(x => x.driver.DriverId, new { @class = "form-control", placeholder = "Driver ID", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Driver Name</label>
                                    @Html.TextBoxFor(x => x.driver.DriverName, new { @class = "form-control alphaonly ", placeholder = "Driver Name" })
                                    @Html.HiddenFor(x => x.driver.Password)
                                </div>
                            </div>

                            @{

                                var profilepicStr1 = "";
                                if (Model.driver != null && Model.driver.driverAttachment != null && Model.driver.driverAttachment.Count > 0)
                                {


                                    var fprofilepicObj = Model.driver.driverAttachment
                                                      .Where(x => x.LookupCode == "1506")
                                                      .FirstOrDefault();

                                    if (fprofilepicObj != null)
                                    {
                                        profilepicStr1 = fprofilepicObj.ImagePath;
                                    }
                                }
                            }
                            <div class="col-md-4">
                                <div class="col-md-2">
                                        <img src="@Url.Content("~/DriverAttachments/" + Model.driver.DriverId + "/" +profilepicStr1)" style="width:50px;height:50px" id="ppic" />
                                    </div>
                                    @*<div class="col-md-3">
                <label>PROFILE PIC</label>
            </div>*@
                                    <div class="col-md-10">
                                        <div class="file-upload pull-left " style="margin-top:10px;">
                                            <div class="file-select">
                                                <div class="file-select-button" id="fileName">Upload Profile Pic</div>
                                                <input type="file"
                                                       id="fprofilepic"
                                                       name="fprofilepic"
                                                       value="1506"
                                                       title="@profilepicStr1"
                                                       onchange="onFileChange(this, 'fprofilepicdocFile','hdnfprofilepicdocFile')" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="fprofilepicdocFile">
                                            @profilepicStr1
                                            @*<span  class="label label-default" onclick="onClickEvent('@profilepicStr')"><i class="fa fa-remove" style="font-size:12px" aria-hidden="true">@profilepicStr</i></span>*@
                                        </div>

                                    </div>
                                </div>
                                
                            @*@if (!string.IsNullOrWhiteSpace(profilepicStr1))
                            {
                                <div class="col-md-3">
                                    <a href="@Url.Content($"~/DriverAttachments/" + Model.driver.DriverId + "/" + profilepicStr1)" target="_blank" download="@profilepicStr1">download</a>
                                </div>
                            }*@


                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vehicle No</label>
                                        @Html.TextBoxFor(x => x.driver.VehicleNo, new { @class = "form-control", placeholder = "Vehicle No" })
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Personal Info</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Father Name</label>
                                    @Html.TextBoxFor(x => x.driver.FatherName, new { @class = "form-control alphaonly ", placeholder = "Father Name" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <div class="input-group dtCss">
                                        @Html.TextBoxFor(x => x.driver.DateOfBirth, "{0:dd/MM/yyyy}",new {@class = "form-control",placeholder = "Date Of Birth"})
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Place Of Birth</label>
                                    @Html.TextBoxFor(x => x.driver.PlaceOfBirth,new{@class = "form-control alphaonly ", placeholder = "Place Of Birth"})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Gender</label>
                                    @Html.DropDownListFor(x => x.driver.Gender,
                                               new SelectList(Model.driverLookupDTO.genderOptions, "LookupId", "LookupDescription"),
                                               "Select Gender",
                                               new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Marital Status</label>
                                    @Html.DropDownListFor(x => x.driver.MaritialStatus,
                                               new SelectList(Model.driverLookupDTO.maritalOptions, "LookupId", "LookupDescription"),
                                               "Select Marital Status",
                                               new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mobile No</label>
                                    @Html.TextBoxFor(x => x.driver.MobileNo, new { @maxlength = "10", @class = "form-control number", placeholder = "Mobile No" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone No</label>
                                    @Html.TextBoxFor(x => x.driver.PhoneNo, new { @maxlength = "10", @class = "form-control number", placeholder = "Phone No" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Identification Info</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PAN No</label>
                                    @Html.TextBoxFor(x => x.driver.PANNo, new { @class = "form-control noSpecialChar", @maxlength = 10, placeholder = "PAN No" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Aadhar Card No</label>
                                    @Html.TextBoxFor(x => x.driver.AadharCardNo, new { @class = "form-control number", @maxlength = 12, placeholder = "Aadhar Card No" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Driving Licence No</label>
                                    @Html.TextBoxFor(x => x.driver.LicenseNo, new { @class = "form-control noSpecialChar", @maxlength = 16, placeholder = "Driving Licence No" })
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Vehicle No</label>
                                            @Html.TextBoxFor(x => x.driver.DriverVehicleNo, new { @class = "form-control" })
                                        </div>
                                    </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Device Details</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mobile Make</label>
                                    @Html.TextBoxFor(x => x.driver.MobileMake, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Mobile Make"
                                    })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Model No</label>
                                    @Html.TextBoxFor(x => x.driver.ModelNo, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Model No"
                                    })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date of Issue</label>
                                    <div class="input-group dtCss">
                                        @Html.TextBoxFor(x => x.driver.DateofIssue, "{0:dd/MM/yyyy}",
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       placeholder = "Date Of Issue"
                                                   })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date of Return</label>
                                    <div class="input-group dtCss">
                                        @Html.TextBoxFor(x => x.driver.DateofReturn, "{0:dd/MM/yyyy}",
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       placeholder = "Date Of Return"
                                                   })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Device Remarks</label>
                                    @Html.TextBoxFor(x => x.driver.DeviceRemarks, new { @class = "form-control", placeholder = "Device Remarks" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Driver Attachments</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label>AADHAR CARD</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fadhar" name="fadhar" value="1375" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>PAN CARD</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fpan" name="fpan" value="1374" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>DRIVING LICENCE</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="flicense" name="flicense" value="1376" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>VOTER ID</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fvoter" name="fvoter" value="1377" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>PROFILE PICTURE</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fvoter" name="fprofilepic" value="1506" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>OTHERS</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fothers" name="fothers" value="1382" multiple="multiple" />
                                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })*@
                            @*</div>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Address Info</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" type="button" onclick="AddAddress('-1')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Address </th>
                                        @*<th>Address 2</th>*@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                               
                                    <tbody id="trBody">
                                @if (Model.driver != null && Model.driver.AddressList != null && Model.driver.AddressList.Count != 0)
                                {
                                    for (var i = 0; i < Model.driver.AddressList.Count; i++)
                                    {
                                            <tr id="trRow_@i" class="trRowCss">
                                                <td>
                                                    <span id="Address1_span_@i">@Model.driver.AddressList[i].Address1</span>
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].Address1)
                                                    <span id="Address2_span_@i">
                                                        @Model.driver.AddressList[i].Address2
                                                    </span>,<br />
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].Address2)
                                                    <span id="Address3_span_@i">
                                                        @Model.driver.AddressList[i].Address3
                                                    </span>,<br />
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].Address3)
                                                    <span id="Address4_span_@i">
                                                        @Model.driver.AddressList[i].Address4
                                                    </span>,<br />
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].Address4)
                                                    <span id="CityName_span_@i">
                                                        @Model.driver.AddressList[i].CityName
                                                    </span>,<br />
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].CityName)
                                                    <span id="StateName_span_@i">
                                                        @Model.driver.AddressList[i].StateName
                                                    </span>,<br />
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].StateName)
                                                    <span id="ZipCode_span_@i">
                                                        @Model.driver.AddressList[i].ZipCode
                                                    </span>.<br />
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].ZipCode)
                                                </td>
                                                @*<td>
                                                    <span id="Address2_span_@i">
                                                        @Model.driver.AddressList[i].Address2
                                                    </span>
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].Address2)
                                                </td>*@
                                                <td>
                                                    @*@Html.HiddenFor(x => Model.driver.AddressList[i].Address3)
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].Address4)
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].CityName)
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].StateName)
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].ZipCode)*@
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].IsActive)
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].AddressLinkId)
                                                    @Html.HiddenFor(x => Model.driver.AddressList[i].AddressId)
                                                    <a class="hand" onclick="EditAddress('@i')">Edit</a>&nbsp;|&nbsp;
                                                    <a class="hand" onclick="DeleteAddress('@i')">Delete</a>
                                                </td>
                                            </tr>
                                    }
                                }
                                    </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="BankDetails">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Bank Details</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" type="button" onclick="bankDetails('-1')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Bank Name</th>
                                            <th>Branch</th>
                                            <th>Account Number</th>
                                            <th>Account Type</th>
                                            <th>IFSC Code</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="trBodyBank">
                                        @if (Model.driver != null && Model.driver.BankDetails != null && Model.driver.BankDetails != null)
                                        {
                                            for (var i = 0; i < Model.driver.BankDetails.Count; i++)
                                            {
                                                <tr id="trRow_Bank_@i" class="trRowCss">
                                                    <td>
                                                        <span id="txtBankName_span_@i">@Model.driver.BankDetails[i].BankName</span>
                                                        @Html.HiddenFor(x => Model.driver.BankDetails[i].BankName)
                                                        @Html.HiddenFor(x => Model.driver.BankDetails[i].OperatorBankID)
                                                    </td>
                                                    <td>
                                                        <span id="txtBranch_span_@i">@Model.driver.BankDetails[i].Branch</span>
                                                        @Html.HiddenFor(x => Model.driver.BankDetails[i].Branch)
                                                    </td>
                                                    <td>
                                                        <span id="txtAccNumber_span_@i">@Model.driver.BankDetails[i].AccountNumber</span>
                                                        @Html.HiddenFor(x => Model.driver.BankDetails[i].AccountNumber)
                                                    </td>
                                                    <td>
                                                        <span id="txtAccType_span_@i">@Model.driver.BankDetails[i].AccountType</span>
                                                        @Html.HiddenFor(x => Model.driver.BankDetails[i].AccountType)
                                                    </td>

                                                    <td>
                                                        <span id="txtIFSCcode_span_@i">@Model.driver.BankDetails[i].IFSC</span>
                                                        @Html.HiddenFor(x => Model.driver.BankDetails[i].IFSC)
                                                    </td>

                                                    <td>

                                                    @*</td>
                                                    <td>*@
                                                        <a class="hand" onclick="EditBankDetails('@i')">Edit</a>
                                                        &nbsp;|&nbsp;
        <a class="hand" onclick="DeleteBankDetails('@i')">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"  id="Attachments">
            <div class="col-md-9">
                @*<h5>Attachments</h5>*@
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Attachments</h3>
                    </div>
                    <div class="box-body">
                        @*<div class="row">
                            <div class="col-md-3">
                                <label>AADHAR CARD</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fadhar" name="fadhar" value="1375" />
                            </div>
                        </div>*@
                        @{
                            var adharStr = "";
                            var panStr = "";
                            var licenseStr = "";
                            var voterStr = "";
                            var profilepicStr = "";
                            var fothers = "";
                            if (Model.driver != null && Model.driver.driverAttachment != null && Model.driver.driverAttachment.Count > 0)
                            {

                                var fadharObj = Model.driver.driverAttachment
                                                  .Where(x => x.LookupCode == "1375")
                                                  .FirstOrDefault();

                                if (fadharObj != null)
                                {
                                    adharStr = fadharObj.ImagePath;
                                }


                                var fpanObj = Model.driver.driverAttachment
                                                  .Where(x => x.LookupCode == "1374")
                                                  .FirstOrDefault();

                                if (fpanObj != null)
                                {
                                    panStr = fpanObj.ImagePath;
                                }


                                var flicenseObj = Model.driver.driverAttachment
                                                  .Where(x => x.LookupCode == "1376")
                                                  .FirstOrDefault();

                                if (flicenseObj != null)
                                {
                                    licenseStr = flicenseObj.ImagePath;
                                }


                                var fvoterObj = Model.driver.driverAttachment
                                                  .Where(x => x.LookupCode == "1377")
                                                  .FirstOrDefault();

                                if (fvoterObj != null)
                                {
                                    voterStr = fvoterObj.ImagePath;
                                }


                                var fprofilepicObj = Model.driver.driverAttachment
                                                  .Where(x => x.LookupCode == "1506")
                                                  .FirstOrDefault();

                                if (fprofilepicObj != null)
                                {
                                    profilepicStr = fprofilepicObj.ImagePath;
                                }

                                var fothersObj = Model.driver.driverAttachment.Where(x => x.LookupCode == "1382").FirstOrDefault();
                                if (fothersObj != null)
                                {
                                    fothers = fothersObj.ImagePath;
                                }

                            }
                        }
                        <div class="row">
                            <div class="col-md-3">
                                <label>AADHAR CARD</label>
                            </div>
                            <div class="col-md-3">
                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <input type="file"
                                               id="fadhar"
                                               name="fadhar"
                                               value="1375"
                                               title="@adharStr"
                                               onchange="onFileChange(this, 'fadhardocFile','hdnfadhardocFile')" />
                                    </div>
                                </div>
                            </div>

                           
                                    @if (!string.IsNullOrWhiteSpace(adharStr))
                                    {
                            <div class="col-md-2">
                                <a href="@Url.Content($"~/DriverAttachments/" + Model.driver.DriverId + "/" + adharStr)" target="_blank" download="@adharStr">download</a>
                            </div>
                                    }

                            <div class="col-md-4">
                                <div id="fadhardocFile">@adharStr</div>
                                <input type="hidden" name="hdnfadhardocFile" id="hdnfadhardocFile" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>PAN CARD</label>
                            </div>
                            <div class="col-md-3">
                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <input type="file"
                                               id="fpan"
                                               name="fpan"
                                               value="1374"
                                               title="@panStr"
                                               onchange="onFileChange(this, 'fpandocFile','hdnfpandocFile')" />
                                    </div>
                                </div>
                            </div>
                          
                                @if (!string.IsNullOrWhiteSpace(panStr))
                                    {
                            <div class="col-md-2">
                                <a href="@Url.Content($"~/DriverAttachments/" + Model.driver.DriverId + "/" + panStr)" target="_blank" download="@panStr">download</a>
                            </div>
                                   }
                            <div class="col-md-4">
                                <div id="fpandocFile">@panStr</div>
                                <input type="hidden" name="hdnfpandocFile" id="hdnfpandocFile" class="white-space" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>DRIVING LICENCE</label>
                            </div>
                            <div class="col-md-3">

                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <input type="file"
                                               id="flicense"
                                               name="flicense"
                                               value="1376"
                                               title="@licenseStr"
                                               onchange="onFileChange(this, 'flicensedocFile','hdnflicensedocFile')" />
                                    </div>
                                </div>
                            </div>
                           
                                   @if (!string.IsNullOrWhiteSpace(licenseStr))
                                      {
                            <div class="col-md-2">
                                <a href="@Url.Content($"~/DriverAttachments/" + Model.driver.DriverId + "/" + licenseStr)" target="_blank" download="@licenseStr">download</a>
                            </div>
                                        }
                            <div class="col-md-4">
                                <div id="flicensedocFile">@licenseStr</div>
                                <input type="hidden" name="hdnflicensedocFile" id="hdnflicensedocFile" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>VOTER ID</label>
                            </div>
                            <div class="col-md-3">
                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <input type="file"
                                               id="fvoter"
                                               name="fvoter"
                                               value="1377"
                                               title="@voterStr"
                                               onchange="onFileChange(this, 'fvoterdocFile','hdnfvoterdocFile')" />
                                    </div>
                                </div>
                            </div>
                           
                                    @if (!string.IsNullOrWhiteSpace(voterStr))
                                    {
                            <div class="col-md-2">
                                <a href="@Url.Content($"~/DriverAttachments/" + Model.driver.DriverId + "/" + voterStr)" target="_blank" download="@voterStr">download</a>
                            </div>
                              }
                            <div class="col-md-4">
                                <div id="fvoterdocFile">@voterStr</div>
                                <input type="hidden" name="hdnfvoterdocFile" id="hdnfvoterdocFile" />
                            </div>
                        </div>
                        @*<div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>PROFILE PIC</label>
                            </div>
                            <div class="col-md-3">
                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <input type="file"
                                               id="fprofilepic"
                                               name="fprofilepic"
                                               value="1506"
                                               title="@profilepicStr"
                                               onchange="onFileChange(this, 'fprofilepicdocFile','hdnfprofilepicdocFile')" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="fprofilepicdocFile">@profilepicStr
                                <span  class="label label-default" onclick="onClickEvent('@profilepicStr')"><i class="fa fa-remove" style="font-size:12px" aria-hidden="true">@profilepicStr</i></span>
                                </div>
                                <input type="hidden" name="hdnfprofilepicdocFile" id="hdnfprofilepicdocFile" />
                               
                            </div>
                            @if (!string.IsNullOrWhiteSpace(profilepicStr))
                            {
                                <div class="col-md-3">
                                    <a href="@Url.Content($"~/DriverAttachments/" + Model.driver.DriverId + "/" + profilepicStr)" target="_blank" download="@profilepicStr">download</a>
                                </div>
                            }
                        </div>*@
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-3">
                                <label>OTHERS</label>
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fothers" name="fothers" value="1382" multiple="multiple" />
                                @*@Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })*@
                            </div>

                            <div class="col-md-3">
                                <a href="@Url.Content($"~/DriverAttachments/"+Model.driver.DriverId +"/" + fothers )" target="_self" download="@fothers">Download</a>
                            </div>

                            <div class="col-md-3">
                                <div id="fothersFile">@fothers</div>
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body" style="padding-bottom:15px;">
                        <div class="text-left">
                            <button type="button" class="btn btn-primary btn-them" onclick="btnSave();">Save</button>
                            <button type="button" class="btn btn-default" onclick="onCancel();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div class="modal" id="addressModal">
    <div class="modal-dialog modal-md">
        <form id="frmAddress" name="frmAddress">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Address Info</h4>
                </div>
                <div class="modal-body" id="addressModalBody">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address 1</label>
                            <input class="form-control" id="Address1" name="Address1" type="text" value="">
                        </div>
                        <div class="col-md-6">
                            <label>Address 2</label>
                            <input class="form-control" id="Address2" name="Address2" type="text" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address 3</label>
                            <input class="form-control" id="Address3" name="Address3" type="text" value="">
                        </div>
                        <div class="col-md-6">
                            <label>Address 4</label>
                            <input class="form-control" id="Address4" name="Address4" type="text" value="">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label>City</label>
                            <input class="form-control" id="CityName" name="CityName" type="text" value="">
                        </div>

                        <div class="col-md-6">
                            <label>State</label>
                            <input class="form-control" id="StateName" name="StateName" type="text" value="">
                        </div>
                       
                        <input id="AddressLinkId" name="AddressLinkId" type="hidden" value="">
                        <input id="AddressId" name="AddressId" type="hidden" value="">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Zipcode</label>
                            <input class="form-control number" id="ZipCode" name="ZipCode" type="text" value="" maxlength=6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" onclick="btnSaveAddress();" class="btn btn-primary btn-them">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="bankDetailsModal">
    <div class="modal-dialog modal-md">
        <form id="frmBank" name="frmBank">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="bank_cancel" aria-label="Close" >
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Bank Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Bank Name</label>
                            <input type="text" id="txtBankName" name="txtBankName" class="form-control noSpecialChar" />
                        </div>
                        <div class="col-md-6">
                            <label>Branch</label>
                            <input type="text" id="txtBranch" name="txtBranch" class="form-control noSpecialChar" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Account Number</label>
                            <input type="text" id="txtAccNumber" name="txtAccNumber" class="form-control number" maxlength="20" />
                        </div>
                        <div class="col-md-6">
                            <label>Account Type</label>
                            @*<input type="text" id="txtAccType" name="txtAccType" class="form-control noSpecialChar" />*@
                            <select id="txtAccType" name="txtAccType" class="form-control noSpecialChar">
                                <option value="savings">savings</option>
                                <option value="current">current</option>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>IFSC Code</label>
                            <input type="text" id="txtIFSCcode" name="txtIFSCcode" class="form-control" maxlength="20" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="bank_cancel" >Close</button>
                    <button id="btnSave" type="button" class="btn btn-primary btn-them " onclick="btnSaveBank();">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
@*<div id="alertBody" style="float:right">
   
</div>*@
@*@using (Html.BeginForm("BankDetailInfo", "Driver", FormMethod.Post, new { id = "frmBankDetail", name = "frmBankDetail" }))
{
    @Html.Hidden("OperatorBankID")
    @Html.Hidden("BankName")
    @Html.Hidden("Branch")
    @Html.Hidden("AccountNumber")
    @Html.Hidden("AccountType")
}*@
@section secscripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
    @*<script src="@Url.Content("~/Scripts/Internal/DriverAddress.js")"></script>*@
<script src="@Url.Content("~/Scripts/Internal/DriverAddress.js")"></script>
    <script src="@Url.Content("~/Scripts/Internal/DriverBankDetails.js")"></script>
    <script type="text/javascript">
        function onFileChange(el, id, hdn) {
            debugger;
            $('#' + id).text(el.files[0].name);
            $('#' + hdn).val(el.files[0].name);


            if (el.files && el.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ppic')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(function () {
            $('#frmDriverAdd').validate({
                rules: {
                    'driver.DriverID': {
                        required: true
                    },
                    'driver.DriverName': {
                        required: true
                    },
                    'driver.VehicleNo': {
                        required: true
                    },
                    'driver.FatherName': {
                        required: true
                    },
                    'driver.DateOfBirth': {
                        required: true
                    },
                    'driver.PlaceOfBirth': {
                        required: true
                    },
                    'driver.Gender': {
                        required: true
                    },
                    'driver.MaritialStatus': {
                        required: true
                    },
                    'driver.MobileNo': {
                        required: true,
                        minlength: 10
                    },

                    'driver.PANNo': {
                        required: true
                    },
                    'driver.AadharCardNo': {
                        required: true
                    },
                    'driver.LicenseNo': {
                        required: true
                    },
                    'driver.MobileMake': {
                        required: true
                    },
                    'driver.ModelNo': {
                        required: true
                    },
                    'driver.DateofIssue': {
                        required: true
                    },
                    'driver.DateofReturn': {
                        required: true
                    },
                    'driver.DeviceRemarks': {
                        required: true
                    }

                }
            });
            var date1 = new Date();
            debugger;
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: DateFormat,
                maxDate: date1
            });

           
        });
        function AddAddress(index) {
            $('#frmAddress input[type="text"]').removeClass('error');
            $('#Address1, #Address2, #Address3, #Address4, #StateName, #CityName, #ZipCode').val('');
            $('#addressModal').modal('show');
        }
        //$('#SamsungModels').change(function () {
        //    debugger;
        //    var selectedText = $(this).find("option:selected").text();
        //    var selectedValue = $(this).val();
        //});
        $('.number').keypress(function (e) {
            if (window.event)
                code = e.keyCode;
            else
                code = e.which;
            if (code >= 48 && code <= 57)
                return true;
            else
                return false;
        });
        function btnSave() {
            debugger
            if ($('#frmDriverAdd').valid()) {
                var addressLength = $('#trBody tr').length;
                var bankDetailslength = $('#trBodyBank tr').length;
                if (addressLength > 0 && bankDetailslength > 0) {
                    $('#frmDriverAdd').submit();
                }
                else {
                    if (addressLength == 0)
                        alert("Please enter address Details");
                    //{
                    //    var html = '';
                    //    html += '<div class="row">' + '<div class="col-md-4"></div>' + '<div class="col-md-4 label-danger">'
                    //        + '<h4>Warning !<h4>' + '<p>Please enter Address Details</p>' + '</div>' + '</div>';
                    //    setTimeout(
                    //    $('#alertBody').append(html), 3000);
                    //}
                    else
                        alert("Please enter bank Details");
                }
            }
        }
       //             <div class="row">
       //    <div class="col-md-4"></div>
       //    <div class="col-md-4 label-danger">
       //        <div class="callout callout-danger">
       //            <h4>Warning!</h4>

       //            <p>
       //                OOPS Something went wrong...!
       //            </p>
       //        </div>
       //    </div>
       //    <div class="col-md-4"></div>
       //</div>
                
          
        @*function onClickEvent(str) {
            debugger;
            @if (Model.driver.driverAttachment != null)
             {
                 for(var i = 0; i <= Model.driver.driverAttachment.Count; i++)
                 {
                     var v = Model.driver.driverAttachment[i].ImagePath;
                 //alert("event fired");
                 }

             }
        }*@

        function onCancel() {
            debugger

            var editOp = '@ViewBag.OperatorId';

            // var op = (addOp != null ? addOp : editOp != null ? editOp : "");
            if (editOp != null && editOp != '') {
                location.href = "/Operator/Edit?operatorID=" + editOp;
            }
            else {
                location.href = "Driver/Driver";
            }
        }

    </script>
}
<style>
        .input-sm {
    height: 35px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    }
</style>

