@model Master.Contract.VehicleConfig
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveVehicleModel", "Vehicles", FormMethod.Post, new { id = "frmVehicleModelAdd", name = "frmVehicleModelAdd" }))
{
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Vehicle Models</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Model</label>
                                    @Html.TextBoxFor(x => x.Model, new {@class="form-control"})                                   
                                </div>
                          
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Maker</label>
                                    @Html.TextBoxFor(x => x.Maker, new { @class = "form-control" })                                    
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tonnage</label>
                                    @Html.TextBoxFor(x => x.Tonnage, new { @class = "form-control" })                                     
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Vehicle Group</label>
                                    @Html.TextBoxFor(x => x.VehicleGroup, new { @class = "form-control" })  
                                </div>
                            </div>
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="button" onclick="btnSaveModel();" class="btn btn-primary btn-them">Save</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
            </div>
        </section>
}

@section secscripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/Internal/DriverAddress.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#frmVehicleModelAdd').validate({
                rules: {
                    'Model': {
                        required: true
                    },
                    'Maker': {
                        required: true
                    },
                    'Tonnage': {
                        required: true
                    },
                    'VehicleGroup': {
                        required: true
                    }
                }

            });

            function btnSaveModel() {
                if ($('#frmVehicleModelAdd').valid()) {
                    $('#frmVehicleModelAdd').submit();
                }
            }
        });
    </script>
}

